
Debug/*
Release/*
x64/
.vs/

dlls/Debug/*
dlls/Release/*
dlls/x64/
dlls/.vs

*.ncb
*.suo
*.user

dlls/*.so
dlls/*.debug
*.o

*~

windows_exports.txt
sandbot_windows_exports.txt

linux_exports.txt
sandbot_linux_exports.txt
